*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  width: 100%;
  overflow-x: hidden;
}
.form-container{
  overflow-x: auto;
  display: flex;
  width: 100%;
  height: 100dvh;
  padding: 20px;
}
form{
  background-color: rgb(220, 237, 252);
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form > div > div{
  display: flex;
  align-items: center;
  gap: 10px;
}
form > div > div > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form > div > div > label{
  text-align: right;
  flex-grow: 1;
}
form input{
  padding: 0px 10px;
  height: 30px;
}
form button{
  all: unset;
  width: fit-content;
  margin-inline: auto;
  padding: 15px 20px;
  background-color: black;
  color: white;
  border-radius: 30px;
}